/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  /* Дублируем переменные для тёмной темы */
  --page-background: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --main-bg-color: #000028;
  --title-text-color: #db00ff;
  --title-shadow-color: #ff0070;
  --decorated-zone-color: #ff0070;
  --section-header-color: #ff0070;
  --section-text-color: #f1b2ce;
  --chapter-title-color: #000028;
  --link-shadow-color: #ff0070;
  --link-outline-color: #f1b2ce;
  --outline-color: #ff0070;
  --button-outline-hover-color: rgba(255, 0, 112, 0.4);
  --decoration-visibility: visible;
}
