/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  /* Дублируем переменные для тёмной темы */
  --page-background:url(../images/cover-image-dark.png) ;
  --accent-color:#FF0070 ;
  --main-bg-color:#000028;
  --title-text-color:#DB00FF;
  --title-shadow-color:#FF0070;
  --decorated-zone-color:#FF0070 ;
  --section-text-color: #F1B2CE ;
  --chapter-title-color: #000028;
  --link-shadow-color:#FF0070 ;
  --link-outline-color:#F1B2CE;
  --outline-color:#FF0070 ;
  --button-outline-hover-color:rgba(255, 0, 112, 0.40);
}
