.page.theme_light {
  --page-background: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --main-bg-color: #fff;
  --title-text-color: #ffc2e6;
  --decorated-zone-color: #353430;
  --section-header-color: #353430;
  --section-text-color: #353430;
  --chapter-title-color: #353430;
  --link-shadow-color: #ff8dcb;
  --link-outline-color: #353430;
  --outline-color: #353430;
  --button-outline-hover-color: rgba(50, 49, 45, 0.4);
  --decoration-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  .page {
    --page-background: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --main-bg-color: #fff;
    --title-text-color: #ffc2e6;
    --decorated-zone-color: #353430;
    --section-header-color: #353430;
    --section-text-color: #353430;
    --chapter-title-color: #353430;
    --link-shadow-color: #ff8dcb;
    --link-outline-color: #353430;
    --outline-color: #353430;
    --button-outline-hover-color: rgba(50, 49, 45, 0.4);
    --decoration-visibility: hidden;
  }
}
