/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  .decorative_inscription {
    visibility: hidden;
  }
  --accent-color:#FF0070 ;
  --page-background:url(../images/cover-image-dark.png) ;
  --main-bg-color:#000028;
  --title-text-color:#DB00FF;
  --title-shadow-color:#FF0070;
  --link-shadow-color:#FF0070 ;
  --section-text-color:#F1B2CE ;
  --decorated-zone-color:#FF0070 ;
  --outline-color:#FF0070 ;
}


@media (prefers-color-scheme: light) {
.page {
      /* Дублируем переменные светлой темы, заменил root на page */    
  }
}