/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font-family);
  font-size: var(--content-text-font-size);
  font-style: normal;
  background-color: var(--main-bg-color);
  background-image: var(--page-background);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  position: relative;
  display: grid;
  /* grid-template-columns: 1fr, 1fr; */
  grid-template-rows: 1fr, min-content, 1fr;
  /* уточнить значение мин хейт */
  min-width: 100vw;
  height: 100vh;
  min-height: 660px;
  margin-bottom: 0px;
  padding: var(--main-padding);
}

.decorative_inscription {
  /* делаем надпись REC */
  position: absolute;
  top: var(--main-padding);
  right: calc(var(--main-padding) + 28px);
  color: var(--accent-color);
  font-weight: 400;
  line-height: 25px; /* 138% */
}

.decorative_inscription::after {
  /* делаем точку после REC */
  content: "";
  position: absolute;
  top: 8px;
  left: 42px;
  width: 9px;
  height: 9px;
  border-radius: 999px;
  box-shadow: 0px 0px 3px 4px var(--accent-color);
  background-color: var(--accent-color);
  /* var(--accent-color) */
}

.decorated-zone::before {
  /* верхний правый уголок */
  content: "";
  position: absolute;
  top: var(--main-padding);
  right: var(--main-padding);
  display: inline-block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  /* нижний левый уголок */
  content: "";
  position: absolute;
  bottom: var(--main-padding);
  left: var(--main-padding);
  display: inline-block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorated-zone-color);
  border-left: 1px solid var(--decorated-zone-color);
}

.header__theme-menu {
  display: flex;
  justify-self: end;
  padding-top: 61px;
  padding-bottom: 62px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 4px 13px;
  color: var(--decorated-zone-color);
  font-weight: 400;
  line-height: 18px; /* 100% */
  background-color: transparent;
}

.header__theme-menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decorated-zone-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-outline-hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decorated-zone-color);
  outline: none;
}

.page_title {
  justify-self: left;
  color: var(--title-text-color);
  font-size: var(--main-title-font-size);
  line-height: 0.85em;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header_description {
  display: block;
  justify-self: right;
  height: max-content;
  margin-top: 53px;
  margin-bottom: 55px;
  color: var(--chapter-title-color);
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.title-decor {
  /* Задаем контрастный фон заголовкам */
  background-color: var(--accent-color);
}

.main {
  padding: var(--main-padding);
}

.section_header {
  margin-top: 50px;
  color: var(--section-header-color);
  font-weight: 700;
  font-size: inherit;
  line-height: 23.4px; /* 130% */
}

.short_margin {
  margin-top: 30px;
}

.chapter_title {
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--chapter-title-color);
  font-weight: 700;
  font-size: inherit;
  line-height: 23.4px; /* 130% */
}

.chapter_text {
  color: var(--section-text-color);
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

/* ссылки в тексте */

.chapter_text_link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.chapter_text_link:hover {
  text-decoration: underline;
}

.chapter_text_link:focus {
  outline: none;
}

.chapter_text_link:focus-visible {
  outline: 1px solid var(--link-outline-color);
}

.advice_title {
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--chapter-title-color);
  font-weight: 400;
  font-size: inherit;
  line-height: 23.4px; /* 130% */
}

/* Галерея */

.gallery_title {
  margin-bottom: var(--main-gap);
  color: var(--chapter-title-color);
  font-weight: 700;
  font-size: inherit;
  line-height: 23.4px; /* 130% */
}

.picture_container_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--main-gap);
  /* list-style-type: none; */
}

.picture_container_item_image {
  object-fit: cover;
  object-position: center;
}

/* стили сетки картинок для мобилки: */

.picture_container_item:nth-child(1) {
  grid-column: 1/4;
  grid-row: 1/2;
}

.picture_container_item:nth-child(2) {
  grid-column: 1/4;
  grid-row: 2/3;
}

.picture_container_item:nth-child(3) {
  grid-column: 1/4;
  grid-row: 3/4;
}

.picture_container_item:nth-child(4) {
  grid-column: 1/4;
  grid-row: 4/5;
}

.picture_container_item:nth-child(5) {
  grid-column: 1/4;
  grid-row: 5/6;
}

.picture_container_item_image {
  display: block;
  width: 100%;
  height: 100%;
}

/* Футер */

.footer {
  position: relative;
  display: flex;
  min-height: 100vh;
  margin-top: 29px;
  padding: var(--main-padding);
  /* - убрать лишний отступ в 10 px сверху */
}

.footer_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: var(--main-title-font-size);
  line-height: 82.5%; /* 99px */
  text-shadow: 2px 2px 0px var(--accent-color);
}

/* медиавыражения для адаптива под разные экраны */

/* Переопределение стилей общих для планшета и десктопа*/

@media (576px <= width) {
  .picture_container_item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .picture_container_item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .picture_container_item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .picture_container_item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .picture_container_item:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/4;
  }
}

/* Переопределение стилей только для планшета*/

@media (576px < width < 992px) {
}

/* Переопределение стилей только для десктопа*/

@media (width >= 992) {
}
