/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  margin: 0 auto;
  font-family: var(--main-font-family);
  font-size: var(--content-text-font-size);
  font-style: normal;
  background-color: var(--main-bg-color);
  background-image: var(--page-background);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  margin-bottom: 0px;
  padding: var(--main-padding);
}

.decorative_inscription {
  /* делаем надпись REC */
  position: absolute;
  top: var(--main-padding);
  right: calc(var(--main-padding) + 28px);
  visibility: var(--decoration-visibility);
  color: var(--accent-color);
  font-weight: 400;
  line-height: 25px; /* 138% */
  text-transform: uppercase;
}

.decorative_inscription::after {
  /* делаем точку после REC */
  content: "";
  position: absolute;
  top: 8px;
  left: 42px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.decorated-zone::before {
  /* верхний правый уголок */
  content: "";
  position: absolute;
  top: var(--main-padding);
  right: var(--main-padding);
  display: inline-block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  /* нижний левый уголок */
  content: "";
  position: absolute;
  bottom: var(--main-padding);
  left: var(--main-padding);
  display: inline-block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorated-zone-color);
  border-left: 1px solid var(--decorated-zone-color);
}

.header__theme-menu {
  display: flex;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 4px 13px;
  color: var(--decorated-zone-color);
  font-weight: 400;
  line-height: 18px; /* 100% */
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decorated-zone-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-outline-hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decorated-zone-color);
  outline: none;
}

.page_title {
  justify-self: left;
  align-self: center;
  color: var(--title-text-color);
  font-size: var(--main-title-font-size);
  line-height: 0.85em;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header_description {
  display: block;
  justify-self: right;
  align-self: center;
  height: max-content;
  color: var(--chapter-title-color);
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.title-decor {
  /* Задаем контрастный фон заголовкам */
  background-color: var(--accent-color);
}

.main {
  padding: var(--main-padding);
}

.section_header {
  margin-top: 50px;
  color: var(--section-header-color);
  font-weight: 700;
  font-size: inherit;
  line-height: 23.4px; /* 130% */
}

.short_margin {
  margin-top: 30px;
}

.chapter_title {
  margin-top: 20px;
  color: var(--chapter-title-color);
  font-weight: 700;
  font-size: inherit;
  line-height: 23.4px; /* 130% */
}

.chapter_text {
  padding-top: 10px;
  color: var(--section-text-color);
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

/* ссылки в тексте */

.chapter_text_link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.chapter_text_link:hover {
  border-block-end: 1px solid var(--section-text-color);
}

.chapter_text_link:focus {
  outline: none;
}

.chapter_text_link:focus-visible {
  outline: 1px solid var(--link-outline-color);
}

.advice_title {
  margin-top: 20px;
  color: var(--chapter-title-color);
  font-weight: 400;
  font-size: inherit;
  line-height: 23.4px; /* 130% */
}

/* Галерея */

.gallery_title {
  margin-bottom: var(--main-gap);
  color: var(--chapter-title-color);
  font-weight: 700;
  font-size: inherit;
  line-height: 23.4px; /* 130% */
}

.picture_container_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--main-gap);
}

.picture_container_item_image {
  display: block;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  max-height: 1100px;
  object-fit: cover;
  object-position: center;
}

/* стили сетки картинок для мобилки: */

.picture_container_item:nth-child(1) {
  grid-column: 1/4;
  grid-row: 1/2;
}

.picture_container_item:nth-child(2) {
  grid-column: 1/4;
  grid-row: 2/3;
}

.picture_container_item:nth-child(3) {
  grid-column: 1/4;
  grid-row: 3/4;
}

.picture_container_item:nth-child(4) {
  grid-column: 1/4;
  grid-row: 4/5;
}

.picture_container_item:nth-child(5) {
  grid-column: 1/4;
  grid-row: 5/6;
}

/* Футер */

.footer {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 667px;
  margin-top: 29px;
  padding: var(--main-padding);
}

.footer_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: var(--main-title-font-size);
  line-height: 82.5%; /* 99px */
  text-shadow: 2px 2px 0px var(--accent-color);
}

/* медиавыражения для адаптива под разные экраны */

/* Переопределение стилей общих для планшета и десктопа*/

@media (576px <= width) {
  .header_description {
    display: flex;
    align-items: center;
    width: 50%;
  }

  .picture_container_item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .picture_container_item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .picture_container_item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .picture_container_item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .picture_container_item:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  /* оформляем первый блок абзацев */

  .left_alignation_top .section_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
  }

  .left_alignation_top .section_header {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 40px;
  }

  .left_alignation_top .chapter_wrapper:first-child {
    display: block;
    grid-column: 2/4;
    grid-row: 1/2;
  }

  .left_alignation_top .chapter_wrapper:last-child {
    display: block;
    grid-column: 2/4;
    grid-row: 2/3;
  }

  .left_alignation_top .chapter:first-child {
    margin-top: 40px;
  }

  .left_alignation_top .chapter:last-child {
    margin-top: 19px;
  }

  /* оформляем третий блок абзацев */

  .left_alignation_bottom .section_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    margin-top: 80px;
  }

  .left_alignation_bottom .section_header {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 0px;
  }

  .left_alignation_bottom .advice_group_title {
    display: block;
    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .chapter_wrapper_bottom {
    grid-column: 2/4;
    grid-row: 2/6;
  }

  .chapter_wrapper_bottom .first_list_item {
    margin-top: 9px;
  }

  /* объявляем гридом центральную секцию */

  .width_alignation .section_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
  }
}

/* Переопределение стилей только для планшета*/

@media (576px < width < 992px) {
  .page_title {
    position: relative;
    left: -20px;
  }

  /* оформляем параграфы центрального блока абзацев */

  .width_alignation .section_header {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 80px;
  }

  .chapter_wrapper_middle:nth-child(1) {
    display: block;
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .chapter_wrapper_middle:nth-child(2) {
    display: block;
    grid-column: 1/4;
    grid-row: 3/4;
  }

  .chapter_wrapper_middle:nth-child(3) {
    display: block;
    grid-column: 1/4;
    grid-row: 4/5;
  }

  /* oстальные стили */

  .gallery_title {
    margin-top: 80px;
  }

  .footer {
    margin-top: 40px;
  }
}

/* Переопределение стилей только для десктопа*/

@media (width >= 992px) {
  .header__theme-menu {
    display: flex;
    justify-self: center;
    align-self: flex-start;
    padding: 0px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 9px;
  }

  .page_title {
    position: relative;
    right: 20px;
  }

  .left_alignation_top .section_wrapper {
    column-gap: 22px;
  }

  .left_alignation_bottom .section_wrapper {
    column-gap: 22px;
  }

  /* переопределение положения блоков центральной секции абзацев */

  .width_alignation .section_header {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 80px;
  }

  .width_alignation .section_wrapper {
    column-gap: 40px;
  }

  .chapter_wrapper_middle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-column: 1/4;
    grid-row: 2/3;
    column-gap: 20px;
  }

  /* остальные стили */

  .gallery_title {
    margin-top: 78px;
  }

  .footer {
    margin-top: 40px;
  }
}
